/* Remove the header default bottom margin */ 
	header {
	  margin-bottom: 0;
	  padding: 5px;
	  background-color: gray;
	  color: white;
	  text-shadow: 1px 1px 5px black;
	}
	
	
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
	.navbar {
	  margin-bottom: 50px;
	}
	
	.btnCarrito, .btnUsuario {
		background-color: transparent;
		color: #c0c0c0;
		border: none;
		margin-top: 15px;
		margin-bottom: 15px;
		margin-right: 10px;
	}


/* Add a gray background color and some padding to the footer */
	footer {
	  background-color: #f2f2f2;
	  padding: 25px;
	}