.textoCard {
	text-align: center;
}

.nombreCard {
	font-size: 20px;
}

.stock {
	color: #808080;
}

.imgProd {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra: desplazamiento X, desplazamiento Y, desenfoque, color */
	transition: transform 0.3s ease; /* Transición suave para la propiedad transform */
}

.imgProd:hover {
	transform: scale(1.1); /* Escalar la imagen al 110% del tamaño original */
	box-shadow: 1px 1px 20px #0080ff;
}