.cardProducto {
	border: 2px solid #000000;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.imgProd {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra: desplazamiento X, desplazamiento Y, desenfoque, color */
 	transition: transform 0.3s ease; /* Transición suave para la propiedad transform */
 	width: 100%;
 	height: 250px; 
 	object-fit: cover;
}

.imgProd:hover {
	transform: scale(1.1); /* Escalar la imagen al 110% del tamaño original */
	box-shadow: 1px 1px 20px #0080ff;
}