.lblFiltro {
	color: white;
}

.cardProducto {
	border: 2px solid #000000;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
	max-width: 400px;
}

.divProductoImg {
	width: 100%;
	height: auto;
    overflow: hidden;
}

.imgProd {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Sombra: desplazamiento X, desplazamiento Y, desenfoque, color */
 	transition: transform 0.3s ease; /* Transición suave para la propiedad transform */
 	width: 100%;
 	height: auto; 
 	object-fit: cover;
	object-position: center;
	border-bottom: 1px solid #c0c0c0;
}

.imgProd:hover {
	transform: scale(1.1); /* Escalar la imagen al 110% del tamaño original */
	box-shadow: 1px 1px 20px #0080ff;
}