body {
	color: #ffffff
}
.box {
	margin: auto
}
.card {
	padding: 8%;
	padding-top: 35px;
	margin-top: 60px;
	margin-bottom: 80px
}

textarea[name="message"] {
	resize: none
}

#emailContactoLogueado {
    cursor: default;
	color: rgb(184, 184, 184);
	background-color: #616161;
}

input.input-box,
textarea.input-box {
	background-color: #616161;
	border: #616161;
	color: #BDBDBD
}

input.input-box:focus,
textarea.input-box:focus {
	background-color: #000000;
	color: rgb(255, 255, 255)
}
.rm-border:focus {
	border-color: inherit;
	-webkit-box-shadow: none;
	box-shadow: none
}
form .form-control::-webkit-input-placeholder {
	color: #9E9E9E
}
::-moz-placeholder {
	color: #9E9E9E !important
}
