 #id, #id:hover {
 	border: none;
 }

input,
textarea {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  outline: none;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   margin: 0;
   padding: 0;
}

.input-group input[type='button'] {
  background-color: #eeeeee;
  transition: all 300ms ease;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 16px;
  resize: vertical;
}

input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}