.imgProdCarrito {
	width: 100%;
	height: 100%;
}

.btnEliminar {
	float: right;
	background-color: transparent;
	border: none;
}

.btnElminar:hover {
	background-color: transparent;
}

.iconoPapelera {
	color: #c60000;
	text-shadow: 0 0 1px #000;
}

.iconoPapelera:hover {
	color: #ff0000;
	text-shadow: 0 0 1px #000;
}