myTable {
	width: 100%;
	border-collapse: collapse;
}

th, tr {
	text-align: center;
}

tr, td {
/*  	width: 150px; Ancho fijo para todas las celdas */
 	padding: 10px; /* Espaciado interno de las celdas */
 	border: 1px solid #ccc; /* Borde de las celdas */
}

td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}


.centrarTd {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nombre {
	text-align: center;
	padding: 0;
}

.imagenProd {
	text-align: right;
/* 	margin-left: 30%; */
	padding: 0;
}

.imgProdCarrito {
	width: 50px;
	height: 50px;
	margin: auto;
}


.btnVaciarCarrito {
	float: right;
	margin-right: 6.6%;
 }

.divComprar {
	text-align: center;
	margin-bottom: 2%;
}
 
 .btnRealizarPedido {
 	text-align: center;
 	width: 25%;
 	font-size: large;
 }