.prodDetalle {
	align-items: center;
	max-width: 900px;
	max-height: 500px;
	overflow: hidden;
}

.divImagen {
 	min-height: 250px;
 }

.imgDetalle{
	max-height: 450px;
	padding: 5px;
}

.datosProd {
	text-align: center;
}

.inputModificar {
	width: 100%;
	border: 1px solid #ccc;
}
